/* Header.css */

/* Header container styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2980b9; /* Header background color */
  padding: 10px 20px;
  color: #fff; /* Text color */
  position: relative;
}

/* Logo styles */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Clock styles */
.clock {
  display: flex;
  align-items: center;
}

/* Menu button styles */
.menu-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* Menu styles */
/* Header.css */

/* Menu styles */
.menu {
  position: absolute;
  display: none;
  top: 100%;
  right: -200px; 
  background-color: #2980b9; /* Menu background color */
  width: 200px;
  border-radius: 8px;
  padding: 10px;
  transition: left 0.3s ease; 
  height:80vh;
}


.menu.open {
  right: 0; 
  display: block;
}


/* Menu list styles */
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Menu item styles */
.menu li {
  margin-top: 20px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
}

/* Menu link styles */
.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* Menu icon styles */
.menu svg {
  margin-right: 10px;
}

/* Menu hover styles */
.menu li:hover {
  background-color: #1a5276; /* Hover background color */
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
